---
import {Image} from 'astro:assets';
import type {CollectionEntry} from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import Header from '../components/Header.astro';
import Body from "../components/Body.astro";
import {SITE_DESCRIPTION, SITE_TITLE} from "../consts";

type Props = CollectionEntry<'blog'>['data'];

const {title, description, pubDate, updatedDate, heroImage} = Astro.props;
---

<html lang="it">
<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION}/>
<Body>
<Header/>
<main id="main" class="w-screen bg-primary-foreground bg-[{heroImage ? 'length:0' : 'url(`${heroImage.src`)'}] bg-cover bg-center ">
  <!--{heroImage &&-->
  <!--    <Image-->
  <!--        loading={"eager"}-->
  <!--        src={heroImage}-->
  <!--        alt={title}-->
  <!--        class="rounded-2xl absolute md:max-w-3/5 lg:w-3/5 aspect-video"/>-->
  <!--    <slot/>-->
  <!--}-->
  <slot/>
</main>
<Footer/>
</Body>
</html>
